### hackthon

### importing libraries

In [1]:
import pandas as pd
import numpy as np

### reading data set

In [2]:
df = pd.read_csv('uber_rides_data.xlsx - sample_train.csv')
df

,ride_id,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1
1,27835199,7.7,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,1
2,44984355,12.9,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,1
3,25894730,5.3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,3
4,17610152,16.0,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5
...,...,...,...,...,...,...,...,...
199995,42598914,3.0,2012-10-28 10:49:00 UTC,-73.987042,40.739367,-73.986525,40.740297,1
199996,16382965,7.5,2014-03-14 01:09:00 UTC,-73.984722,40.736837,-74.006672,40.739620,1
199997,27804658,30.9,2009-06-29 00:42:00 UTC,-73.986017,40.756487,-73.858957,40.692588,2
199998,20259894,14.5,2015-05-20 14:56:25 UTC,-73.997124,40.725452,-73.983215,40.695416,1
199999,11951496,14.1,2010-05-15 04:08:00 UTC,-73.984395,40.720077,-73.985508,40.768793,1

### 1.What is the shape of given dataset?

In [3]:
df.shape

(200000, 8)

### 2.How many integer columns(by default) are given in the dataset?

In [4]:
df.select_dtypes(include='int64')

         ride_id  passenger_count
0       24238194                1
1       27835199                1
2       44984355                1
3       25894730                3
4       17610152                5
...          ...              ...
199995  42598914                1
199996  16382965                1
199997  27804658                2
199998  20259894                1
199999  11951496                1

[200000 rows x 2 columns]

### 3.How many missing values exists in 'dropoff_longitude' column?

In [5]:
df[ 'dropoff_longitude'].isnull().sum()

1

### 4.What is the data type of ' pickup_datetime' feature in your data?

In [6]:
df['pickup_datetime'].dtype

dtype('O')

### 5.Which of the following is the correct syntax to convert 'pickup_datetime' to datetime datatype?

pd.datetime(df['pickup_datetime'])
pd.to_datetime(df['pickup_datetime'])
df['pickup_datetime'].to_type('datetime64[ns]')
df['pickup_datetime'].astype('datetime64[ns]')

In [7]:
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])

In [8]:
df.dtypes

ride_id                            int64
fare_amount                      float64
pickup_datetime      datetime64[ns, UTC]
pickup_longitude                 float64
pickup_latitude                  float64
dropoff_longitude                float64
dropoff_latitude                 float64
passenger_count                    int64
dtype: object

### 6.Which function can be used to remove null values from the dataframe?

In [9]:
df.dropna()

,ride_id,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,7.5,2015-05-07 19:52:06+00:00,-73.999817,40.738354,-73.999512,40.723217,1
1,27835199,7.7,2009-07-17 20:04:56+00:00,-73.994355,40.728225,-73.994710,40.750325,1
2,44984355,12.9,2009-08-24 21:45:00+00:00,-74.005043,40.740770,-73.962565,40.772647,1
3,25894730,5.3,2009-06-26 08:22:21+00:00,-73.976124,40.790844,-73.965316,40.803349,3
4,17610152,16.0,2014-08-28 17:47:00+00:00,-73.925023,40.744085,-73.973082,40.761247,5
...,...,...,...,...,...,...,...,...
199995,42598914,3.0,2012-10-28 10:49:00+00:00,-73.987042,40.739367,-73.986525,40.740297,1
199996,16382965,7.5,2014-03-14 01:09:00+00:00,-73.984722,40.736837,-74.006672,40.739620,1
199997,27804658,30.9,2009-06-29 00:42:00+00:00,-73.986017,40.756487,-73.858957,40.692588,2
199998,20259894,14.5,2015-05-20 14:56:25+00:00,-73.997124,40.725452,-73.983215,40.695416,1
199999,11951496,14.1,2010-05-15 04:08:00+00:00,-73.984395,40.720077,-73.985508,40.768793,1

### 7.What is the average fare amount?
*
Remove the null values from the dataframe to answer the following question.

In [10]:
df['fare_amount'].mean()

11.359955250000002

### 8.Calculate distance between each pickup and dropoff points using Haversine formula. 
 * What is the median haversine distance between pickup and dropoff location according to the given dataset?

In [15]:
def haversine(pickup_latitude, pickup_longitude, dropoff_latitude, dropoff_longitude, radius=6371):
    """
    Calculate the distance between two points on a sphere using the Haversine formula.
    """
    dlat = np.radians(dropoff_latitude -pickup_latitude )
    dlon = np.radians( dropoff_longitude- pickup_longitude )
    a = np.sin(dlat / 2) ** 2 + np.cos(np.radians(pickup_latitude)) * np.cos(np.radians( dropoff_latitude)) * np.sin(dlon / 2) ** 2
    c = 2 * np.arcsin(np.sqrt(a))
    return radius * c

### 9.What is the maximum haversine distance between pickup and dropoff location according to the given dataset?

### 10.How many rides have 0.0 haversine distance between pickup and dropoff location according to the given dataset?

### 11.What is the mean 'fare_amount' for rides with 0 haversine distance?

### 12.What is the maximum 'fare_amount' for a ride?

In [12]:
df['fare_amount'].max()

499.0

### 13.What is the haversine distance between pickup and dropoff location for the costliest ride?

### 14How many rides were recorded in the year 2014?

### 15.How many rides were recorded in the first quarter of 2014?

### 16.On which day of the week in September 2010, maximum rides were recorded ?

### 17.